{% extends "master.html" %}

<!-- Template which uses include Django tag to render a template within a template, simly for the purposes of readability -->

{% block title %}
    Honours Project - Heatmap
{% endblock %}

{% block content %}
    <br>
    <h2 class="text-center">HeatMap</h2>
    <br>
        <div class="container-sm">
            {{ heatmap|safe }}
        </div>
    <br>
    <div class="container-md">
        <p class="text-center">
            This interactive map shows every road traffic accident which was recorded on UK roads in 2021.
            The data has <br>been used to create a HeatMap, which helps visualise the volume of accidents in a specific area, 
            helping the user understand where accidents may be more likely to happen
        </p>
    <hr>
    </div>
    <br>
{% endblock %}