{% extends "master.html" %}

{% block title %}
    Honours Project
{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br>
    <h1 class="text-center">Welcome to my Honours Project!</h1><br><br>
    <div class="container-md">
        <p class="text-center">
            This application takes data collected by the UK goverment, available <a href="https://www.data.gov.uk/dataset/cb7ae6f0-4be6-4935-9277-47e5ce24a11f/road-safety-data">here</a>, and visualises it through a leaflet.js map making the location of all accidents recorded in 
            2021 on UK roads accessible, as well as showing the volume of accidents in specific.<br><br>
            The goal of this website is to effectively visualise this data to better inform people on roads and locations, which could be potentially dangerous to drive on based on
            previous accidents while also being easy to use and accessible through a website.<br><br>
            Two interactable maps are available. The first map shows indiviual locations of accidents as well as interactable clusters of markers, with a marker representing an individual accident, with the second
            map showing a HeatMap of all accidents, giving a better idea of conveying the number of accidents in specific areas.
            <br>
        </p><br>
    </div>
{% endblock %}