{% extends "master.html" %}

<!-- Template which uses "{% include %}" Django tag to render a template within a template, simly for the purposes of readability -->

{% block title %}
    Honours Project - Marker Map
{% endblock %}

{% block content %}
    <br>
    <h2 class="text-center">Marker Map</h2>
    <br>
        {% include "2021_map.html" %}
    <br>
    <div class="container-md">
        <p class="text-center">
            This interactive map shows every road traffic accident which was recorded on UK roads in 2021.<br>
            The data has been clustered together to allow for ease of use when navigating the map, while also showing volume of
            accidents in specific areas.
        </p>
    <hr>
    </div>
    <br>
{% endblock %}