<!DOCTYPE html>
<html>

<head>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class=" collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
        <ul class="navbar-nav">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Maps
                </a>
                <ul class="dropdown-menu" aris-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" href='markermap'>Marker Map</a></li>
                    <li><a class="dropdown-item" href='heatmap'>Heatmap</a></li>
                </ul>
            </div>
            <li class="nav-item">
                <a class="nav-link fw-bold" href='/'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" href='about'>About</a></li>
        </ul>
    </div>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>